{
  "env": {
    "development": {
      "presets": [
        [
          "env",
          {
            "targets": { "browsers": "last 1 Chrome version" },
            "useBuiltIns": true,
            "modules": false
          }
        ],
        "react"
      ],
      "plugins": [
        ["module-resolver", { "root": ["./client"] }],
        "transform-async-generator-functions",
        "transform-class-properties",
        "transform-export-extensions",
        "flow-react-proptypes"
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "targets": { "browsers": "last 2 versions" },
            "useBuiltIns": true,
            "modules": false
          }
        ],
        "react"
      ],
      "plugins": [
        ["module-resolver", { "root": ["./client"] }],
        "transform-async-generator-functions",
        "transform-class-properties",
        "transform-export-extensions",
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    },
    "production-legacy": {
      "presets": [
        [
          "env",
          {
            "targets": { "browsers": ["> 1%", "last 4 versions", "IE 10"] },
            "useBuiltIns": true,
            "modules": "commonjs"
          }
        ],
        "react"
      ],
      "plugins": [
        ["module-resolver", { "root": ["./client"] }],
        "transform-async-generator-functions",
        "transform-class-properties",
        "transform-export-extensions",
        ["transform-object-rest-spread", { "useBuiltIns": true }],
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    }
  },
  "retainLines": true
}
